
.timebtn{
    border: none;
    display: block;
    margin: 30px 0px;
    height: 20%;
    font-size:40px;
    font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
    font-weight:lighter;
    background-color:transparent;
    border-style:none;
    color: aliceblue;
}
.mainInterface{
    width: 100%;
    height: auto;
    padding-bottom: 0%;
    font-family: 'Courier New', Courier, monospace;
}
.timebtns1{
    width: 10%;
    position:absolute;
    bottom: 0%;
    left: 10%;
    margin: 0px;
}
.timebtns2{
    width: 10%;
    position: absolute;
    bottom: 0%;
    margin: 0px;
    right: 15%;
}
.description{
    color: #fff;
    position: absolute;
    font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 80px;
    top: 600px;
    left: 38%;
}